//layout styling (placing elements on the page) ang styling of major components
.header {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.content-holder {
  overflow: hidden;
}

.primary-content {
  background-color: red;
  float: left;
  margin: 0 auto;
  width: 70%;
}

.secondary-content {
  background-color: blue;
  float: left;
  margin: 0 auto;
  width: 30%;
}
